*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
# Gradle cache
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# Google Services
google-services.json

# Build Logs
*.log
*.txt
!proguard-rules.pro
!consumer-rules.pro
build_log.txt
build_err.txt
wear_build_log.txt
report.txt
